[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
ExecStart=/opt/nexus-3.7.1-02/bin/nexus start
ExecStop=/opt/nexus-3.7.1-02/bin/nexus stop
ExecReload=/opt/nexus-3.7.1-02/bin/nexus reload
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
